.circel {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.75rem;
  font-weight: 600;
  border-radius: 100%;
  border: 1px transparent;
  transition: ease-in-out 0.4s;

}

.circel:hover {
background-color: black;
}
